<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entities \ Overwatch</title>
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body class="grid-container">
    <div class="nav">
        <div class="nav-section nav-title" onclick="window.location.href='/'">
            <h1>Overwatch</h1>
            <div style="font-size: smaller;">Your eyes from above</div>
        </div>
        <div class="nav-section">
            <div><span style="font-size: x-small;">Connection Status</span> <span id="server-status"></span></div>
            <script>
                getServerStatus()
                setInterval(getServerStatus, 30000);

                function getServerStatus(){
                    let req = new XMLHttpRequest();
                    req.open("GET","/api");
                    req.onreadystatechange = () => {
                        if (req.readyState === XMLHttpRequest.DONE){
                            if (req.status === 200){
                                document.getElementById("server-status").innerHTML = 'OK <span style="color:rgb(0, 255, 0); font-size:30px; vertical-align:middle">&bull;</span>';
                            } else {
                                document.getElementById("server-status").innerHTML = 'OFFLINE <span style="color:red; font-size:30px; vertical-align:middle">&bull;</span>';
                            }
                        }
                    }
                    req.send();
                    document.getElementById("server-status").innerHTML = 'CHECKING...';
                }
            </script>
        </div>
    </div>
    <div class="container">
        <h1>Entities</h1>
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Origin
                    </th>
                    <th>
                        Geo Lat
                    </th>
                    <th>
                        Geo Lon
                    </th>
                    <th>
                        Preview
                    </th>
                </tr>
            </thead>
            <tbody id="sources-list">
            </tbody>
            <script>
                getElements();
                function getElements(){
                    let sourceID = {{sourceid}}

                    if (sourceID === undefined){
                        window.location.href = "/admin"
                    }
                    
                    let req = new XMLHttpRequest();
                    req.open("GET",`/api/source/${sourceID}`);
                    req.onreadystatechange = () => {
                        if (req.readyState === XMLHttpRequest.DONE){
                            if (req.status === 200){
                                data = JSON.parse(req.responseText)
                                document.getElementById("sources-list").innerHTML = '';
                                data.forEach(element => {
                                    document.getElementById("sources-list").innerHTML += `<tr onclick="window.open('${element.media_source}')"><td>${element.media_id}</td><td>${element.media_name}</td><td><a href="${element.media_source}" target=_blank>${element.media_source}</a></td><td>${element.geo_lat}</td><td>${element.geo_lon}</td><td><img loading="lazy" src="${element.media_source}" style="height: 100px" alt="camera preview"/></td></tr>`;
                            });
                            } else {
                                document.getElementById("sources-list").innerHTML = 'Failed to fetch data.';
                            }
                        }
                    }
                    req.send();
                    document.getElementById("sources-list").innerHTML = "Fetching..."
                }
            </script>
        </table>
    </div>    
</body>
</html>