<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overwatch</title>
    <link rel="stylesheet" href="/static/tl.css"/>
</head>
<body>
    <div class="navbar">
        <table style="width: 100%;">
            <tr>
                <td style="text-align: start;">
                    <div style="font-size: large; font-weight: bold;">Overwatch</div>
                </td>
                <td style="text-align: end;">
                    <div style="font-size: small; font-style: italic;">Showing cameras within 1km of your current location. Refresh every 2 min.</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="media-container" class="container">
        <div id="media-grid">
        </div>
    </div>
    <script>
        getGeolocation(43.656142,-79.380330);

        setInterval(() => {
            getGeolocation(43.656142,-79.380330);
        }, 120000);

        function fetchData(position){                   
            let req = new XMLHttpRequest();
            req.open("GET",`/api/entity/${position.coords.latitude}/${position.coords.longitude}`);
            req.onreadystatechange = () => {
                if (req.readyState === XMLHttpRequest.DONE){
                    if (req.status === 200){
                        var data = JSON.parse(req.responseText);
                        
                        var cameraGrid =  document.createElement("div")
                        cameraGrid.id = "media-grid";     

                        var numCameras = data.length;

                        data.forEach(async (element) => {
                            let feed = document.createElement("div")
                            feed.className = "camera-feed"
                            feed.id = `cam-${element.id}`

                            let feedBadge = document.createElement("div")
                            feedBadge.appendChild(document.createTextNode(element.media_name))
                            feed.appendChild(feedBadge)

                            let feedImg = new Image()
                            feedImg.src = element.media_source + "?" + Date.now();
                            feed.appendChild(feedImg);
                            cameraGrid.appendChild(feed)
                            await feedImg.decode()
                                .then(()=>{    
                                    // do nothing                       
                                })
                                .catch(() => {
                                    cameraGrid.removeChild(feed);
                                })
                                .finally(() => {
                                    numCameras --;
                                    if (numCameras <= 0){
                                        document.getElementById("media-container").replaceChild(cameraGrid, document.getElementById("media-grid"));
                                    }
                                })
                        })                                                    
                    } else {
                        document.getElementById("media-grid").innerHTML = 'Failed to fetch data.';
                    }
                }
            }
            req.send();
        }

        function geolocationErrorHandler(){
            console.error("Unable to reterive location.")
        }

        function getGeolocation(){
            if (!navigator.geolocation){
                console.error("Geolocation is not supported by your client.");
            }else {
                navigator.geolocation.getCurrentPosition(fetchData,geolocationErrorHandler)
            }
        }
    </script>
</body>
</html>